html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

blockquote {
  border-left: 6px solid lightgray;
  padding-left: 6px;
  margin-left: 15px;
}

.main {
  max-width: 1500px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 20px;
  background-color: wheat;

  box-shadow: 10px 10px #868080;
}

.user-menu ul li a,
.main-menu ul li a {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.user-menu ul li a:hover,
.main-menu ul li a:hover {
  text-decoration: underline;
}

.user-menu ul li {
  display: inline;
  margin-left: 12px;
}

.page {
  display: flex;
  flex-direction: column;
}

.new-question-page,
.login-page,
.register-page {
  margin: 0 auto;
  min-width: 50%;
  max-width: 50%;
}

.title {
  margin: 20px auto 30px auto;
  font-weight: 900;
}

.question-list-item {
  margin-bottom: 20px;
}

.question-list-item a:hover {
  text-decoration: underline;
  color: black;
}

.question-list-item-title {
  color: black;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.question-list-item-author {
  color: lightgray;
  margin: 0;
}

.register-form {
  width: 100%;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldWrapper label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.fieldWrapper input {
  margin-bottom: 6px;
  border: 1px solid lightgray;
  min-height: 40px;
}

.error {
  font-size: 14px;
  color: red;
}

.errorlist {
  margin: 0;
}

.non_form_errors {
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.edit-button {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: mediumblue;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.delete-button {
  display: block;
  text-align: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer;
  bottom: 40px;
}

.question-title {
  font-weight: 900;
  margin: 20px auto 0 auto;
}

.question-body {
  font-size: 20px;
  margin-bottom: 6px;
  padding: 20px;
}

.question-author {
  padding: 20px;
  font-size: 14px;
  color: lightgray;
  text-align: right;
}

.responses-container {
  border-top: 1px solid lightgray;
  margin-top: 30px;
}

.responses-container-heading {
  color: lightgray;
}

.no-responses-text {
  color: lightgray;
}

.response-body {
  margin: 0;
}

.response-author {
  color: lightgray;
  font-style: italic;
}

.reply-button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: lowercase;
  color: lightgray;
  cursor: pointer;
}

.response-form {
  margin-top: 20px;
  border-top: 1px solid lightgray;
  padding: 30px;
}

.reply-form-container {
  display: none;
}

.reply-form-container.enabled {
  display: block;
}

.reply-form textarea {
  width: 100%;
}

.reply-form-cancel-button {
  font-weight: 600;
  color: orange;
  background-color: transparent;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
}

.reply-form-submit-button {
  font-weight: 600;
  color: white;
  background-color: orange;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;

  border-bottom: 1px solid lightgray;
}

.user-menu ul li {
  padding: 15px;
}

#id_title,
#id_body {
  width: 650px;
}

.justified {
  margin: 30px;
  display: flex;
  justify-content: center;
}
