{% extends 'layouts/page.html' %}

{% block content %}
    <div class="justified">
        {% if class_list %}
            <h3>Number of Classes: {{class_list.count}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>List of Classes</th>
                    </tr>

                </thead>
                <tbody>
                    {% for Class in class_list %}
                        <tr>
                            <td><a href="{{ Class.get_absolute_url }}">{{ Class.Class }}</a></td>
                            <td>
                                <button type="button" class="edit-button">
                                <a href="{{Class.get_absolute_url}}/edit" style="color:#FFFFFF">Edit</a>
                              </button>
                            </td>
                            <td>
                                <button type="button" class="delete-button">
                                <a href="{{Class.get_absolute_url}}/delete" style="color:#FFFFFF">Delete</a>
                              </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no classes created for this module.</p>
        {% endif %}
    </div>
    <button type="button" class="submit-button">
        <a href="/class/create" style="color:#FFFFFF">Add</a>
    </button>

{% endblock %}