{% extends 'layouts/page.html' %}

{% block content %}
    <div class="justified">
        {% if lessons_list %}
            <h3>Number of Lessons: {{lessons_list.count}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>List of lessons</th>
                        <th>Date of Lessons</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Lessons in lessons_list %}
                        <tr>
                            <td><a href="{{ Lessons.get_absolute_url }}">{{ Lessons.lesson }}</a></td>
                            <td>{{ Lessons.lessonDateTime }}</a></td>
                            <td>
                                <button type="button" class="edit-button">
                                <a href="{{Lessons.get_absolute_url}}/edit" style="color:#FFFFFF">Edit</a>
                              </button>
                            </td>
                            <td>
                                <button type="button" class="delete-button">
                                <a href="{{Lessons.get_absolute_url}}/delete" style="color:#FFFFFF">Delete</a>
                              </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no lessons created for this class.</p>
        {% endif %}
    </div>
    <button type="button" class="submit-button">
        <a href="/lesson/create" style="color:#FFFFFF">Add</a>
    </button>

{% endblock %}